<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- Enable responsive viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	{% if site.model == 'pub' %}
		<link rel="stylesheet" href="{{ site.pub.css }}/main.css?e7825d">
	{% else %}
		<link rel="stylesheet" href="{{ site.dev.css }}/main.css">
	{% endif %}
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<link rel="icon shortcut" href="/favicon.ico" type="image/x-icon">
	<script type="text/javascript">
		var APP_STATIC = {
			{% if site.model == 'pub' %}
				css:"{{site.pub.css}}",js:"{{site.pub.js}}",image:"{{site.pub.image}}"
			{% else %}
				css:"{{site.dev.css}}",js:"{{site.dev.js}}",image:"{{site.dev.image}}"
			{% endif %}
		}
	</script>
</head>